@media (max-width: 1024px) {
    .sidebar {
      display: none;
    }
    .main_content {
      width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .navbar {
      width: 60px;
    }
    .navbar_links span {
      display: none;
    }
    .main_content {
      margin-left: 60px;
    }

    .main-container {
        margin-left: 60px;
        width: calc(100% - 60px);
      }
  }
  
  @media (max-width: 480px) {
    .navbar {
      display: none;
    }
    .main_content {
      width: 100%;
      margin: 0;
    }

    .main-container {
        margin-left: 0;
        width: 100%;
      }
  }
  
  